.cursor {


	cursor:pointer;

}


#cabecera {

}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	

}
//cerrar imprimir
a:link { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	color: black;
	text-decoration: none;
	font-weight: bold;

}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	color: black;
	font-weight: bold;


}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: black;
	text-decoration: none;
	font-weight: bold;

}
p  {
	font-family: CURRIER;
	font-size: 9px;
	color: black;
	text-align: justify;

}

h1 { //nombre paciente
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: black;
	display:inline;
}
h2 {  //especialidad
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: black;
	display:inline;
	}
h3 { //nombre medico
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
	display:inline;
}
h4 {   //Datos del usuario, direccion telefono ...., registro medico, un proyecto opusliberti..... imprimio...
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
	display:inline;
}

h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	display:inline;
}

in {
	font-family: CURRIER;
	font-size: 10px;
	color: black;
	font-weight: normal;
}


ib {
	font-family: CURRIER;
	font-size: 10px;
	color: black;
	font-weight: bold;
}

TD_J {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	text-align: justify;
}

ul { //contenido de la consulta
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11.5px;
	color: black;
	text-align: justify;
}
